.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  padding: 20px;
}
h1 {
  color: teal;
}
input[type="checkbox"] {
  font-size: 20px;
}
.dataset-columns {
  display: flex;
  width: 100%;
}
div[class*="-datasets"] {
  flex: 1;
  text-overflow: ellipsis;
  border: 1px solid gray;
  margin: 0 5px;
  border-radius: 10px;
  padding: 5px;
  overflow: auto;
}
h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.datasets {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
}
.dataset {
  display: flex;
  cursor: pointer;
  padding: 3px 0;
  line-height: 1em;
}
